
body 
{
    background-color: var(--background);
    color: var(--text);
    font-family: 'Libre Baskerville', serif;
     
}

:root[data-theme="light"] {
  --text: oklch(12.01% 0.045 284.57);
  --background: oklch(100.00% 0.000 89.88);
  --primary: oklch(66.00% 0.156 59.09);
  --secondary: oklch(81.41% 0.000 89.88);
  --accent: oklch(69.27% 0.000 89.88);
}
:root[data-theme="dark"] {
  --text: oklch(94.12% 0.026 290.74);
  --background: oklch(0.00% 0.000 0.00);
  --primary: oklch(78.16% 0.165 64.50);
  --secondary: oklch(36.39% 0.000 89.88);
  --accent: oklch(50.32% 0.000 89.88);
}

/* navbar section */
.navbar 
{
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 10px 20px;
    background-color: var(--primary);
}


/* profile card section */
.profile-card
{
    display: flex;
    justify-content: left;
}

#gh 
{
    width: 50px;
}

#ld 
{
    width: 47px;
}

#ig 
{
    width: 57px;
}

/* header section */
.header-banner 
{
    float: center;
}

.project 
{
    background-color: papayawhip;
    border-radius: 25px;
}

/* Project section */

/* About me section */