/* Animations */

/* cipher logo spin for toggle theme*/
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewritter {
    from {width: 0;}
    to {width: 100%;}
}

@keyframes blinkingCursor{
    from {border-right-color; 
    rgba(--text-primary); }
    to {border-right-color: transparent;  }
}

@keyframes float {
    from {transform: translateY(100vh) rotate(0deg);
        opacity: 0; }
    10% {opacity: 1; }
    90% {opacity: 1;}
    to {transform: translateY(-100px) rotate(360deg); 
        opacity: 0; }
}